<div style="margin: 1em;" *ngIf="roadWorkActivityFeature">
    <mat-card-header class="left-right">
        <mat-card-title>Bauvorhaben - Eigenschaften</mat-card-title>

        <div class="align-right">
            <mat-form-field *ngIf="userService.getLocalUser().chosenRole == 'administrator'">
                <mat-label>Status/Phase</mat-label>
                <!-- Option bodies are a copy of the names from status-chip.component.html -->
                <mat-select [(ngModel)]="roadWorkActivityFeature.properties.status">
                    <mat-option [value]="'requirement'">Bedarf (Phase 11)</mat-option>
                    <mat-option [value]="'review'">in Prüfung (Phase 12)</mat-option>
                    <mat-option [value]="'verified1'">verifiziert-1 (Phase 12)</mat-option>
                    <mat-option [value]="'verified2'">verifiziert-2 (Phase 12)</mat-option>
                    <mat-option [value]="'inconsult1'">in Bedarfsklärung - 1.Iteration (Phase 12)</mat-option>
                    <mat-option [value]="'inconsult2'">in Bedarfsklärung - 2.Iteration (Phase 12)</mat-option>
                    <mat-option [value]="'reporting'">Stellungnahme (Phase 12)</mat-option>
                    <mat-option [value]="'coordinated'">koordiniert (Phase 12)</mat-option>
                    <mat-option [value]="'initiation_p13'">Initialisieren (Phase 13)</mat-option>
                    <mat-option [value]="'prestudy'">Vorstudie (Phase 21)</mat-option>
                    <mat-option [value]="'predesign_p31'">Vorprojekt (Phase 31)</mat-option>
                    <mat-option [value]="'design_p32'">Bauprojekt (Phase 32)</mat-option>
                    <mat-option [value]="'approval_p33'">Bewilligungsverfahren (Phase 33)</mat-option>
                    <mat-option [value]="'tendering_p41'">Ausschreibung (Phase 41)</mat-option>
                    <mat-option [value]="'executiondesign_p51'">Ausführungsprojekt (Phase 51)</mat-option>
                    <mat-option [value]="'execution_p52'">Ausführung (Phase 52)</mat-option>
                    <mat-option [value]="'commissioning_p53'">Inbetriebnahme (Phase 53)</mat-option>
                    <mat-option [value]="'closed_p61'">Abgerechnet (Abgeschlossen, Phase 61)</mat-option>
                    <mat-option [value]="'archived'">Archiviert</mat-option>
                    <mat-option [value]="'deferred'">zurückgestellt</mat-option>
                    <mat-option [value]="'suspended'">sistiert</mat-option>
                </mat-select>
            </mat-form-field>
            <app-status-chip [statusCode]="roadWorkActivityFeature.properties.status"></app-status-chip>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="row two-columns">
            <div class="cell">
                <mat-card style="margin-top: 10px;">
                    <mat-card-header>
                        <mat-card-title>Allgemein</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <p>UUID (Universelle ID):
                                <b>{{roadWorkActivityFeature.properties.uuid}}</b>
                            </p>
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="roadWorkActivityFeature.properties.roadWorkActivityNo"
                                    placeholder="Nummer-Bauvorhaben"
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>SKS (Strategische Koord.)</mat-label>
                                <input matInput type="text" [(ngModel)]="roadWorkActivityFeature.properties.sksNo"
                                    placeholder="Sks-Nr" [disabled]="true" />
                            </mat-form-field>

                            <mat-form-field *ngIf="userService.getLocalUser().chosenRole == 'administrator'">
                                <input matInput type="text" [(ngModel)]="roadWorkActivityFeature.properties.projectNo"
                                    placeholder="Transfernummer" [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="roadWorkActivityFeature.properties.name"
                                    placeholder="Titel/Strasse" [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                            </mat-form-field>

                            <div *ngIf="!roadWorkActivityFeature.properties.name"
                                style="margin: 1em;margin-bottom: 2em;padding: 1em;background-color: rgb(209, 209, 243);">
                                Wenn Sie das Feld "Titel/Strasse" leerlassen, wird beim Eröffnen des
                                Bauvorhabens eine Bezeichnung automatisch aus der geographischen Lage
                                ermittelt.
                            </div>
                            <mat-form-field>
                                <input [(ngModel)]="roadWorkActivityFeature.properties.section" matInput type="text" maxlength="80"
                                    placeholder="Abschnitt" [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Arbeitsbezeichnung</mat-label>
                                <textarea matInput maxlength="255" cdkTextareaAutosize cdkAutosizeMaxRows="15"
                                    [(ngModel)]="roadWorkActivityFeature.properties.workingTitle"
                                    placeholder="Arbeitsbezeichnung eingeben.."
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"></textarea>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Projekt-Art</mat-label>
                                <mat-select [(ngModel)]="roadWorkActivityFeature.properties.projectKind" name="projectKind"
                                    #projectKindCtrl="ngModel" [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                    required>
                                    <mat-option [value]="null" disabled selected>– Bitte wählen
                                        –</mat-option>
                                    <mat-option *ngFor="let option of projectKindOptions" [value]="option.value">
                                        {{ option.label }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="projectKindCtrl.invalid && projectKindCtrl.touched">
                                    Bitte wählen Sie eine Projekt-Art aus.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Bemerkung</mat-label>
                                <textarea matInput maxlength="255" cdkTextareaAutosize cdkAutosizeMaxRows="15"
                                    [(ngModel)]="roadWorkActivityFeature.properties.description" placeholder="Bemerkung eingeben.."
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"></textarea>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Beschrieb Bauvorhaben</mat-label>
                                <textarea matInput maxlength="255" cdkTextareaAutosize cdkAutosizeMaxRows="15"
                                    [(ngModel)]="roadWorkActivityFeature.properties.comment"
                                    placeholder="Beschreibung des Bauvorhabens eingeben.."
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"></textarea>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="cell">
                <mat-card style="margin-top: 10px;">
                    <mat-card-header>
                        <mat-card-title>Verantwortlichkeiten & OKS</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <mat-checkbox [(ngModel)]="roadWorkActivityFeature.properties.implementationByThird"
                                [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                matTooltip="Umsetzung durch Werk/Dritte (ausserhalb TBA)">
                                Umsetzung durch Werk/Dritte
                            </mat-checkbox>
                        </div>

                        <div class="form-fields-split-responsibility" *ngIf="roadWorkActivityFeature.properties.uuid!==''">
                            <mat-form-field>
                                <mat-label>Werk/OE</mat-label>
                                <mat-select [(ngModel)]="projectResponsibilityFeature.properties.uuidOrganisationalUnit"
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                    (selectionChange)="onOeChange(projectResponsibilityFeature)">
                                    <mat-option *ngFor="let organisationalUnit of organisationalUnits"
                                        [value]="organisationalUnit.uuid">
                                        {{ organisationalUnit.abbreviation }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>PL</mat-label>
                                <mat-select [(ngModel)]="projectResponsibilityFeature.properties.uuidUser"
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    <mat-option
                                        *ngFor="let userByOrganisationalUnit of usersByOrganisationalUnit[projectResponsibilityFeature.properties.uuidOrganisationalUnit] ?? []"
                                        [value]="userByOrganisationalUnit.uuid"
                                        [disabled]="!userByOrganisationalUnit.active || !userByOrganisationalUnit.grantedRoles.projectmanager">
                                        {{ userByOrganisationalUnit.firstName }} {{ userByOrganisationalUnit.lastName }}
                                        {{ userByOrganisationalUnit.active ? '' : ' (inaktiv)' }}
                                        {{ userByOrganisationalUnit.grantedRoles.projectmanager ? '' : ' (nicht Projektmanager)' }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <p>Lead Realisierung</p>
                        </div>

                        <ng-container *ngIf="roadWorkActivityFeature.properties.uuid!==''">
                            <div class="form-fields-split-responsibility"
                                *ngFor="let phaseResponsibilityFeature of phaseResponsibilityFeatures">
                                <mat-form-field>
                                    <mat-label>OE</mat-label>
                                    <mat-select [(ngModel)]="phaseResponsibilityFeature.properties.uuidOrganisationalUnit"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                        (selectionChange)="onOeChange(phaseResponsibilityFeature)">
                                        <mat-option *ngFor="let organisationalUnit of organisationalUnits"
                                            [value]="organisationalUnit.uuid">
                                            {{ organisationalUnit.abbreviation }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>PL</mat-label>
                                    <mat-select [(ngModel)]="phaseResponsibilityFeature.properties.uuidUser"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                        <mat-option
                                            *ngFor="let userByOrganisationalUnit of usersByOrganisationalUnit[phaseResponsibilityFeature.properties.uuidOrganisationalUnit] ?? []"
                                            [value]="userByOrganisationalUnit.uuid"
                                            [disabled]="!userByOrganisationalUnit.active || !userByOrganisationalUnit.grantedRoles.projectmanager">
                                            {{ userByOrganisationalUnit.firstName }} {{ userByOrganisationalUnit.lastName }}
                                            {{ userByOrganisationalUnit.active ? '' : ' (inaktiv)' }}
                                            {{ userByOrganisationalUnit.grantedRoles.projectmanager ? '' : ' (nicht Projektmanager)' }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Phasenverantwortung</mat-label>
                                    <mat-select [(ngModel)]="phaseResponsibilityFeature.properties.phaseWithOrder"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                        [compareWith]="comparePhase">
                                        <mat-option [value]="{ phase: 'prestudy_p2', sortOrder: 20}">Phase 2</mat-option>
                                        <mat-option [value]="{ phase: 'design_p3', sortOrder: 30}">Phase 3</mat-option>
                                        <mat-option [value]="{ phase: 'predesign_p31', sortOrder: 31}">Phase 31</mat-option>
                                        <mat-option [value]="{ phase: 'design_p32', sortOrder: 32}">Phase 32</mat-option>
                                        <mat-option [value]="{ phase: 'approval_p33', sortOrder: 33}">Phase 33</mat-option>
                                        <mat-option [value]="{ phase: 'tendering_p4', sortOrder: 40}">Phase 4</mat-option>
                                        <mat-option [value]="{ phase: 'construction_p5', sortOrder: 50}">Phase 5</mat-option>
                                        <mat-option [value]="{ phase: 'executiondesign_p51', sortOrder: 51}">Phase
                                            51</mat-option>
                                        <mat-option [value]="{ phase: 'execution_p52', sortOrder: 52}">Phase 52</mat-option>
                                        <mat-option [value]="{ phase: 'commissioning_p53', sortOrder: 53}">Phase 53</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!--style="background-color: rgb(236,236,234);margin: 0.5em;" -->
                                <button (click)="onRemovePhaseResponsibilityClick(phaseResponsibilityFeature)"
                                    class="icon-only"
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    <mat-icon aria-label="Icon zeigt durchgekreuzten Mülleimer">delete_forever</mat-icon>
                                </button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="roadWorkActivityFeature.properties.uuid!==''">
                            <div class="align-right">
                                <button 
                                    (click)="addResponsibilityClick()"
                                    style="background-color: rgb(236,236,234);margin: 0.5em;"
                                    [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed" mat-button>
                                    <mat-icon
                                        aria-label="Icon zeigt Plus">add</mat-icon>&nbsp;Phasenverantwortung hinzufügen
                                </button>
                            </div>
                        </ng-container>

                        <div class="row">
                            <mat-checkbox [(ngModel)]="roadWorkActivityFeature.properties.isOksActive"
                                (change)="onChangeIsOksActive()"
                                [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed"
                                matTooltip="Mind. eine Massnahme aus dem Bauvorhaben wird im Aggloprogramm geführt. Diese müssen der SKS vorgelegt werden."
                                [matTooltipDisabled]="roadWorkActivityFeature.properties.isAggloprog">
                                OKS aktiv
                            </mat-checkbox>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</div>