.cell {
    padding: 0rem 1rem;
    gap: 0.25rem;
    min-width: 0; 
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Horizontal alignment, because of  flex-direction: column*/
    justify-content: flex-start; /* Vertical alignment, because of  flex-direction: column*/
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 0.5rem;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}