<div style="margin:2em;">
    <div *ngIf="roadWorkNeedFeature === undefined">
        <p style="color: red;">Das Baubedarf-Objekt konnte nicht geladen werden.</p>
    </div>
    <div *ngIf="roadWorkNeedFeature !== undefined">
        <h1 *ngIf="roadWorkNeedFeature.properties.uuid!==''">Baubedarf <span style="font-weight: normal;"> / {{
                roadWorkNeedFeature.properties.name }}</span><span *ngIf="roadWorkNeedFeature.properties.isPrivate"
                style="font-size: small;color: rgb(138, 67, 67);border: 1px solid;padding: 0.5em;margin: 0.5em;">ENTWURF</span>
        </h1>
        <h1 *ngIf="roadWorkNeedFeature.properties.uuid===''">Neuer Baubedarf<span
                *ngIf="roadWorkNeedFeature.properties.isPrivate"
                style="font-size: small;color: rgb(138, 67, 67);border: 1px solid;padding: 0.5em;margin: 0.5em;">ENTWURF</span>
        </h1>
        <mat-tab-group>
            <mat-tab label="Lage">
                <app-edit-need-map [roadWorkNeedFeat]="roadWorkNeedFeature"
                    [managementArea]="managementArea"></app-edit-need-map>
            </mat-tab>
            <mat-tab label="Stammdaten">
                <div style="float: right;">
                    <button mat-button *ngIf="!roadWorkNeedFeature.properties.uuid && roadWorkNeedFeature.properties.isPrivate"
                        (click)="add(true)"
                        style="margin: 1em;border: 1px solid;color: rgb(237,240,255);background-color: rgb(138,71,200);">
                        F&Uuml;R MICH SPEICHERN
                    </button>
                    <button mat-button *ngIf="roadWorkNeedFeature.properties.isPrivate"
                        (click)="add(false)"
                        style="margin: 1em;border: 1px solid;color: rgb(237,240,255);background-color: rgb(138,71,200);">
                        BEDARF PUBLIZIEREN
                    </button>
                </div>
                <h2 style="font-weight: normal;">Realisierungstermine</h2>
                <div style="margin: 0.5em;margin-bottom: 1em;">
                    Fr&uuml;hest: <span
                        style="font-size: 1.5em;font-weight: bolder;background-color: rgb(235, 235, 235);">{{writeOutTertial(finishEarlyTertial)}}</span>
                    <mat-slider min="0" max="21" tickInterval="1" [(ngModel)]="finishEarlyTertial" (change)="update()"
                        showTickMarks style="width: 100%;">
                    </mat-slider>
                </div>
                <div style="margin: 0.5em;margin-bottom: 1em;">
                    Wunsch: <span
                        style="font-size: 1.5em;font-weight: bolder;background-color: rgb(235, 235, 235);">{{writeOutTertial(finishOptimumTertial)}}</span>
                    <mat-slider min="0" max="21" tickInterval="1" [(ngModel)]="finishOptimumTertial" (change)="update()"
                        showTickMarks style="width: 100%;">
                    </mat-slider>
                </div>
                <div style="margin: 0.5em;margin-bottom: 1em;">
                    Sp&auml;test: <span
                        style="font-size: 1.5em;font-weight: bolder;background-color: rgb(235, 235, 235);">{{writeOutTertial(finishLateTertial)}}</span>
                    <mat-slider min="0" max="21" tickInterval="1" [(ngModel)]="finishLateTertial" (change)="update()"
                        showTickMarks style="width: 100%;">
                    </mat-slider>
                </div>
                <div fxLayout="row wrap padding" style="width:100%;">
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-content>
                            <p *ngIf="roadWorkNeedFeature.properties.uuid">UUID:
                                <b>{{roadWorkNeedFeature.properties.uuid}}</b>
                            </p>
                            <p *ngIf="!roadWorkNeedFeature.properties.uuid">UUID: <b>keine (nicht er&ouml;ffnet)</b></p>
                            <div style="display:flex;flex-direction:column;">
                                <mat-form-field>
                                    <input matInput type="text" maxlength="80"
                                        [(ngModel)]="roadWorkNeedFeature.properties.name" placeholder="Titel/Strasse"
                                        (focusout)="update()"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <div *ngIf="!roadWorkNeedFeature.properties.name"
                                    style="margin: 1em;margin-bottom: 2em;padding: 1em;background-color: rgb(209, 209, 243);">
                                    Wenn Sie das Feld "Titel/Strasse" leerlassen, wird beim Er&ouml;ffnen des Baubedarfs
                                    ein Titel automatisch aus der Lage ermittelt.
                                </div>
                                <mat-form-field>
                                    <mat-label>Ausl&ouml;segrund</mat-label>
                                    <textarea matInput maxlength="255"
                                        [(ngModel)]="roadWorkNeedFeature.properties.description" (focusout)="update()"
                                        placeholder="Ausl&ouml;segrund..." required
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" maxlength="80"
                                        [(ngModel)]="roadWorkNeedFeature.properties.section" placeholder="Abschnitt"
                                        (focusout)="update()"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Art</mat-label>
                                    <mat-select [formControl]="roadWorkNeedEnumControl" (focusout)="update()"
                                        (selectionChange)='onRoadWorkNeedEnumChange()' required
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                        <mat-option *ngFor="let roadWorkNeedEnum of availableRoadWorkNeedEnums"
                                            [value]="roadWorkNeedEnum.code">
                                            {{roadWorkNeedEnum.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="roadWorkNeedFeature.properties.orderer.organisationalUnit.isCivilEngineering">
                                    <input matInput type="number" min="0"
                                        [(ngModel)]="roadWorkNeedFeature.properties.costs"
                                        placeholder="Kostensch&auml;tzung (CHF)" (focusout)="update()"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" maxlength="2048"
                                        [(ngModel)]="roadWorkNeedFeature.properties.url" placeholder="Link (URL)"
                                        (focusout)="update()"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Bemerkung</mat-label>
                                    <textarea matInput maxlength="255"
                                        [(ngModel)]="roadWorkNeedFeature.properties.comment" (focusout)="update()"
                                        placeholder="Bemerkung..."
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                        </textarea>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-header>
                            <mat-card-title>Status</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <p style="margin-bottom: 3em;">Bewertung:<br>
                                    <mat-button-toggle-group [(ngModel)]="roadWorkNeedFeature.properties.relevance"
                                        (change)="update()" name="relevance" aria-label="Bewertung"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.uuid
                                                                && roadWorkNeedFeature.properties.relevance == 0"
                                            value="0"
                                            style="background-color: rgb(173, 255, 197); font-weight: bold;border: 1px solid;">0</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.uuid
                                                                && roadWorkNeedFeature.properties.relevance != 0"
                                            value="0"
                                            style="background-color: rgb(173, 255, 197);">0</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 1"
                                            value="1"
                                            style="background-color: rgb(207, 255, 205);font-weight: bold;border: 1px solid;">1</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 1"
                                            value="1"
                                            style="background-color: rgb(207, 255, 205);">1</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 2"
                                            value="2"
                                            style="background-color: rgb(224, 248, 196); font-weight: bold;border: 1px solid;">2</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 2"
                                            value="2"
                                            style="background-color: rgb(224, 248, 196);">2</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 3"
                                            value="3"
                                            style="background-color: rgb(252, 253, 203); font-weight: bold;border: 1px solid;">3</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 3"
                                            value="3"
                                            style="background-color: rgb(252, 253, 203);">3</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 4"
                                            value="4"
                                            style="background-color: rgb(255, 234, 217); font-weight: bold;border: 1px solid;">4</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 4"
                                            value="4"
                                            style="background-color: rgb(255, 234, 217);">4</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 5"
                                            value="5"
                                            style="background-color: rgb(255, 226, 226); font-weight: bold;border: 1px solid;">5</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </p>
                                <app-status-chip [statusCode]="roadWorkNeedFeature.properties.status.code"
                                    [short]="false"></app-status-chip>
                                <div style="margin: 1em;">
                                    <mat-chip-list>
                                        <mat-chip *ngIf="priorityCode === 'high'" style="background-color: red;">Hohe
                                            Priorit&auml;t</mat-chip>
                                        <mat-chip *ngIf="priorityCode === 'low'"
                                            style="background-color: green;">Nierige
                                            Priorit&auml;t</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <mat-form-field *ngIf="userService.getLocalUser().role.code === 'territorymanager'">
                                    <input matInput type="text" placeholder="Status">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-header>
                            <mat-card-title>Beteiligte</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <p>Besteller: <b>{{roadWorkNeedFeature.properties.orderer.firstName}}
                                        {{roadWorkNeedFeature.properties.orderer.lastName}}</b>
                                </p>
                                <p>Bedarfsstelle:
                                    <b>{{roadWorkNeedFeature.properties.orderer.organisationalUnit.name}}</b>
                                </p>
                                <p>Gebietsmanager:
                                    <b>{{managementArea?.manager?.firstName}}
                                        {{managementArea?.manager?.lastName}}
                                    </b>
                                </p>
                                <p>Erstellt: <b>{{roadWorkNeedFeature.properties.created | date:'dd.MM.yyyy'}}</b></p>
                                <p>
                                    Zuletzt ge&auml;ndert: <b>{{roadWorkNeedFeature.properties.lastModified |
                                        date:'dd.MM.yyyy'}}</b>
                                </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>