<div style="margin:2em;">
    <div *ngIf="roadWorkNeedFeature === undefined">
        <p style="color: red;">Das Bedarfsobjekt konnte nicht geladen werden.</p>
    </div>
    <div *ngIf="roadWorkNeedFeature !== undefined">
        <h1 *ngIf="roadWorkNeedFeature.properties.uuid!==''">Bedarf <span style="font-weight: normal;"> / {{
                roadWorkNeedFeature.properties.name }}</span><span *ngIf="roadWorkNeedFeature.properties.isPrivate"
                style="font-size: small;color: rgb(138, 67, 67);border: 1px solid;padding: 0.5em;margin: 0.5em;">ENTWURF</span>
        </h1>
        <h1 *ngIf="roadWorkNeedFeature.properties.uuid===''">Neuer Bedarf<span
                *ngIf="roadWorkNeedFeature.properties.isPrivate"
                style="font-size: small;color: rgb(138, 67, 67);border: 1px solid;padding: 0.5em;margin: 0.5em;">ENTWURF</span>
        </h1>
        <mat-tab-group>
            <mat-tab label="Perimeter">
                <app-edit-need-map [roadWorkNeedFeat]="roadWorkNeedFeature"
                    [managementArea]="roadWorkNeedFeature.properties.managementArea"></app-edit-need-map>
            </mat-tab>
            <mat-tab label="Stammdaten">
                <div style="float: right;">
                    <button *ngIf="roadWorkNeedFeature.properties.isEditingAllowed" mat-button (click)="store()"
                        style="margin: 1em;background-color: rgb(236,236,234);">
                        SPEICHERN
                    </button>
                    <button mat-button *ngIf="roadWorkNeedFeature.properties.isPrivate" (click)="publish()"
                        style="margin: 1em;background-color: rgb(236,236,234);">
                        <mat-icon aria-label="Icon zeigt einen Brief mit Pfeil">forward_to_inbox</mat-icon>&nbsp;BEDARF
                        PUBLIZIEREN
                    </button>
                </div>
                <h2 style="font-weight: normal;">Baubeginn</h2>
                <div *ngIf="!roadWorkNeedFeature.properties.overarchingMeasure">
                    <div style="margin: 0.5em;">
                        Fr&uuml;hester:&nbsp;<span
                            style="font-size: 1.2em;font-weight: bolder;background-color: rgb(235, 235, 235);">
                            {{writeOutQuartal("finishEarlyTo")}}
                        </span>
                        <mat-slider min="0" max="28" tickInterval="1" [formControl]="finishEarlyFormControl"
                            showTickMarks (input)="updateQuartal($event, 'finishEarlyQuartal')"
                            style="margin-left: 1em;width: 80%;"
                            [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                        </mat-slider>
                    </div>
                    <div style="margin: 0.5em;">
                        Wunsch:&nbsp;&nbsp;&nbsp;&nbsp;<span
                            style="font-size: 1.2em;font-weight: bolder;background-color: rgb(235, 235, 235);">
                            {{writeOutQuartal("finishOptimumTo")}}
                        </span>
                        <mat-slider min="0" max="28" tickInterval="1" [formControl]="finishOptimumFormControl"
                            showTickMarks (input)="updateQuartal($event, 'finishOptimumQuartal')"
                            style="margin-left: 1em;width: 80%;"
                            [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                        </mat-slider>
                    </div>
                    <div style="margin: 0.5em;">
                        Sp&auml;tester:&nbsp;<span
                            style="font-size: 1.2em;font-weight: bolder;background-color: rgb(235, 235, 235);">
                            {{writeOutQuartal("finishLateTo")}}
                        </span>
                        <mat-slider min="0" max="28" tickInterval="1" [formControl]="finishLateFormControl"
                            showTickMarks (input)="updateQuartal($event, 'finishLateQuartal')"
                            style="margin-left: 1em;width: 80%;"
                            [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                        </mat-slider>
                    </div>
                </div>
                <div fxLayout="row wrap padding" style="width:100%;">
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-content>
                            <p *ngIf="roadWorkNeedFeature.properties.uuid">UUID:
                                <b>{{roadWorkNeedFeature.properties.uuid}}</b>
                            </p>
                            <p *ngIf="!roadWorkNeedFeature.properties.uuid">UUID: <b>keine (nicht er&ouml;ffnet)</b></p>
                            <div style="display:flex;flex-direction:column;">
                                <mat-form-field>
                                    <input matInput type="text" maxlength="80"
                                        [(ngModel)]="roadWorkNeedFeature.properties.name" placeholder="Titel/Strasse"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <div *ngIf="!roadWorkNeedFeature.properties.name"
                                    style="margin: 1em;margin-bottom: 2em;padding: 1em;background-color: rgb(209, 209, 243);">
                                    Wenn Sie das Feld "Titel/Strasse" leerlassen, wird beim Er&ouml;ffnen des Bedarfs
                                    ein Titel automatisch aus der geographischen Lage ermittelt.
                                </div>
                                <mat-form-field>
                                    <input matInput type="text" maxlength="80"
                                        [(ngModel)]="roadWorkNeedFeature.properties.section" placeholder="Abschnitt"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Ausl&ouml;segrund</mat-label>
                                    <textarea matInput maxlength="255"
                                        [(ngModel)]="roadWorkNeedFeature.properties.description"
                                        placeholder="Ausl&ouml;segrund..." required
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Bemerkung</mat-label>
                                    <textarea matInput maxlength="255"
                                        [(ngModel)]="roadWorkNeedFeature.properties.comment" placeholder="Bemerkung..."
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                        </textarea>
                                </mat-form-field>
                                <mat-form-field
                                    *ngIf="roadWorkNeedFeature.properties.orderer.organisationalUnit.isCivilEngineering">
                                    <input matInput type="number" min="0"
                                        [(ngModel)]="roadWorkNeedFeature.properties.costs"
                                        placeholder="Kostensch&auml;tzung (CHF)"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-header>
                            <mat-card-title>Status</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <p>Bewertung *<br>
                                    <mat-button-toggle-group [(ngModel)]="roadWorkNeedFeature.properties.relevance"
                                        name="relevance" aria-label="Bewertung"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 1"
                                            value="1"
                                            style="background-color: rgb(220, 220, 220);font-weight: bold;border: 1px solid;">1</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 1"
                                            value="1" matTooltip="Vorausschauendes Bedürfnis"
                                            style="background-color: rgb(239, 239, 239);">1</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 2"
                                            value="2"
                                            style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">2</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 2"
                                            value="2" matTooltip="Normales Bedürfnis (Standard)"
                                            style="background-color: rgb(239, 239, 239);">2</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 3"
                                            value="3"
                                            style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">3</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 3"
                                            value="3" matTooltip="Wichtiges Bedürfnis"
                                            style="background-color: rgb(239, 239, 239);">3</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance == 4"
                                            value="4"
                                            style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">4</mat-button-toggle>
                                        <mat-button-toggle *ngIf="roadWorkNeedFeature.properties.relevance != 4"
                                            value="4" matTooltip="Wichtiges + dringendes Bedürfnis"
                                            style="background-color: rgb(239, 239, 239);">4</mat-button-toggle>
                                    </mat-button-toggle-group>
                                    <span (click)="switchShowRelevanceInfo()" style="margin: 1em;">
                                        <mat-icon aria-label="Info zur Bewertung">info</mat-icon>
                                    </span>
                                </p>
                                <div *ngIf="showRelevanceInfo"
                                    style="margin-bottom: 3em;background-color: rgb(236,236,234);padding: 1em;">
                                    <div *ngIf="roadWorkNeedFeature.properties.relevance == 0">
                                        <b>Keine Beteiligung vorgesehen</b><br>
                                        Wir bauen nicht mit und sind nicht projektbeteiligt. Sollte im System eine
                                        Projektbeteiligung erfasst sein, muss diese durch APK gel&ouml;scht werden
                                        (Bitte
                                        unter Bemerkungen erfassen).
                                    </div>
                                    <div *ngIf="roadWorkNeedFeature.properties.relevance == 1">
                                        <b>Vorausschauendes Bed&uuml;rfnis</b><br>
                                        Es besteht auf l&auml;ngere Sicht kein zwingendes Bed&uuml;rfnis. Im Sinn des
                                        koordinierten
                                        Bauens beteiligen wir uns jedoch am Projekt unabh&auml;ngig vom
                                        Ausf&uuml;hrungstermin.
                                    </div>
                                    <div *ngIf="roadWorkNeedFeature.properties.relevance == 2">
                                        <b>Normales Bed&uuml;rfnis (Standard)</b><br>
                                        Es besteht ein Bed&uuml;rfnis mit einer mittleren Dringlichkeit und Wichtigkeit
                                    </div>
                                    <div *ngIf="roadWorkNeedFeature.properties.relevance == 3">
                                        <b>Wichtiges Bed&uuml;rfnis</b><br>
                                        Es besteht ein wichtiges Bed&uuml;rfnis mit einer relativen Dringlichkeit.
                                        Es bestehen m&ouml;glicherweise inhaltliche und/oder zeitliche
                                        Abh&auml;ngigkeiten
                                    </div>
                                    <div *ngIf="roadWorkNeedFeature.properties.relevance == 4">
                                        <b>Wichtiges + dringendes Bed&uuml;rfnis</b><br>
                                        Es besteht ein wichtiges Bed&uuml;rfnis mit einer hohen Dringlichkeit.
                                        Rechtliche und / oder politische Vorgaben k&ouml;nnen dem Bed&uuml;rfnis
                                        zus&auml;tzliche Bedeutung verleihen.
                                    </div>
                                </div>
                                <mat-checkbox style="margin: 1em;"
                                    [(ngModel)]="roadWorkNeedFeature.properties.overarchingMeasure"
                                    [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                    &Uuml;bergeordnete Massnahme
                                </mat-checkbox>
                                <mat-form-field>
                                    <input matInput type="number" [min]="getCurrentYear()"
                                        [(ngModel)]="roadWorkNeedFeature.properties.desiredYearFrom"
                                        placeholder="Umsetzungsjahr von" [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed
                                                        || !roadWorkNeedFeature.properties.overarchingMeasure">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="number" [min]="getCurrentYear()"
                                        [(ngModel)]="roadWorkNeedFeature.properties.desiredYearTo"
                                        placeholder="Umsetzungsjahr bis" [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed
                                                        || !roadWorkNeedFeature.properties.overarchingMeasure">
                                </mat-form-field>
                                <app-status-chip [statusCode]="roadWorkNeedFeature.properties.status"
                                    [short]="false"></app-status-chip>
                                <div style="margin: 1em;">
                                    <mat-chip-list>
                                        <mat-chip *ngIf="priorityCode === 'high'" style="background-color: red;">Hohe
                                            Priorit&auml;t</mat-chip>
                                        <mat-chip *ngIf="priorityCode === 'low'"
                                            style="background-color: green;">Nierige
                                            Priorit&auml;t</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                            <button *ngIf="userService.getLocalUser().chosenRole == 'administrator' ||
                                            userService.getLocalUser().chosenRole == 'territorymanager'"
                                style="background-color: rgb(236,236,234);margin: 0.5em;" mat-button
                                (click)="createNewActivityFromNeed()"
                                [disabled]="roadWorkNeedFeature.properties.isPrivate"><mat-icon
                                    aria-label="Bedarf &uuml;bernehmen">handyman</mat-icon>&nbsp;
                                &Uuml;BERNEHMEN</button>
                            <button *ngIf="roadWorkNeedFeature.properties.isPrivate ||
                                        userService.getLocalUser().chosenRole == 'administrator'"
                                (click)="openDeleteDialog(roadWorkNeedFeature.properties.uuid)"
                                style="background-color: rgb(236,236,234);margin: 0.5em;" [disabled]="!roadWorkNeedFeature.properties.isPrivate && 
                                            userService.getLocalUser().chosenRole != 'administrator'"
                                mat-button>L&Ouml;SCHEN</button>
                            <div style="margin-top: 3em;">
                                <h3>Dokumente</h3>
                                <mat-form-field style="width: 100%;">
                                    <input matInput type="url" maxlength="2048" [formControl]="urlControl"
                                        placeholder="Link (URL)"
                                        [disabled]="!roadWorkNeedFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <div style="padding: 1em;border: 2px dotted;border-color: lightgray;margin-top: 1em;">
                                    <p><i>PDF-Dokument:</i></p>
                                    <div *ngIf="roadWorkNeedFeature.properties.hasPdfDocument"
                                        style="margin-bottom: 1em;">
                                        <button (click)="downloadPdf()" mat-button
                                            style="background-color: rgb(236,236,234);margin: 1em;">
                                            Herunterladen
                                        </button>
                                        <button (click)="deletePdf()" mat-button
                                            style="background-color: rgb(236,236,234);margin: 1em;">
                                            L&ouml;schen
                                        </button>
                                    </div>
                                    <div *ngIf="!roadWorkNeedFeature.properties.hasPdfDocument">
                                        <p>Hochladen:</p>
                                        <form method="post" enctype="multipart/form-data">
                                            <input type="file" name="pdfFile" accept="application/pdf"
                                                (change)="uploadPdf($event)"><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-header>
                            <mat-card-title>Beteiligte</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <p>Besteller: <b>{{roadWorkNeedFeature.properties.orderer.firstName}}
                                        {{roadWorkNeedFeature.properties.orderer.lastName}}</b>
                                </p>
                                <p>Bedarfsstelle:
                                    <b>{{roadWorkNeedFeature.properties.orderer.organisationalUnit.name}}</b>
                                </p>
                                <p>Gebietsmanagement:
                                    <b>{{roadWorkNeedFeature.properties.managementArea?.manager?.firstName}}
                                        {{roadWorkNeedFeature.properties.managementArea?.manager?.lastName}}
                                    </b>
                                </p>
                                <p>Erstellt: <b>{{roadWorkNeedFeature.properties.created | date:'dd.MM.yyyy'}}</b></p>
                                <p>
                                    Zuletzt ge&auml;ndert: <b>{{roadWorkNeedFeature.properties.lastModified |
                                        date:'dd.MM.yyyy'}}</b>
                                </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>