<h2>Zugewiesene Bedarfsanfragen</h2>
<div *ngIf="!consultationInputs || consultationInputs.length === 0">
    Diesem Vorhaben sind keine Bedarfe zugewiesen.
</div>
<div *ngIf="consultationInputs && consultationInputs.length !== 0">
    <div *ngFor="let assignedRoadWorkNeed of needsOfActivityService.assignedRoadWorkNeeds" style="margin: 2em;">
        <b>{{assignedRoadWorkNeed.properties.orderer.firstName}}
            {{assignedRoadWorkNeed.properties.orderer.lastName}}</b>
        ({{assignedRoadWorkNeed.properties.created | date:'dd.MM.yyyy'}}):
        <i>{{assignedRoadWorkNeed.properties.description}}</i>
        <div>
            <mat-form-field style="width: 100%; margin-top: 2em;">
                <mat-label>Notiz/Stellungnahme des Gebietsmanagers</mat-label>
                <textarea matInput maxlength="255" placeholder="Notiz/Stellungnahme des Gebietsmanagers..."></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
