<div style="margin:2em;">
    <div *ngIf="roadWorkActivityFeature === undefined">
        <p style="color: red;">Die Baumassnahme konnte nicht geladen werden.</p>
    </div>
    <div *ngIf="roadWorkActivityFeature !== undefined">
        <h1 *ngIf="roadWorkActivityFeature.properties.uuid!==''">Baumassnahme <span style="font-weight: normal;"> / {{
                roadWorkActivityFeature.properties.name }}</span></h1>
        <h1 *ngIf="roadWorkActivityFeature.properties.uuid===''">Neue Baumassnahme</h1>
        <mat-tab-group>
            <mat-tab label="Lage">
                <app-edit-activity-map [roadWorkActivityFeat]="roadWorkActivityFeature"></app-edit-activity-map>
            </mat-tab>
            <mat-tab label="Attribute">
                <div>
                    <button mat-button
                        style="margin: 1em;border: 1px solid;color: rgb(237,240,255);background-color: rgb(138,71,200);"
                        *ngIf="!roadWorkActivityFeature.properties.uuid" (click)="add()">
                        BAUMASSNAHME ER&Ouml;FFNEN
                    </button>
                </div>
                <div fxLayout="row wrap padding">
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-content>
                            <p>UUID:
                                <b
                                    *ngIf="roadWorkActivityFeature.properties.uuid">{{roadWorkActivityFeature.properties.uuid}}</b>
                                <b *ngIf="!roadWorkActivityFeature.properties.uuid">keine (nicht er&ouml;ffnet)</b>
                            </p>
                            <p>PDB-FID:
                                <b
                                    *ngIf="roadWorkActivityFeature.properties.pdbFid !== 0">{{roadWorkActivityFeature.properties.pdbFid}}</b>
                                <b *ngIf="roadWorkActivityFeature.properties.pdbFid == 0">keine FID</b>
                            </p>
                            <p>Strabako-Nummer:
                                <b
                                    *ngIf="roadWorkActivityFeature.properties.strabakoNo">{{roadWorkActivityFeature.properties.strabakoNo}}</b>
                                <b *ngIf="!roadWorkActivityFeature.properties.strabakoNo">keine Nummer</b>
                            <div style="display:flex;flex-direction:column;">
                                <mat-form-field>
                                    <input matInput type="text" [(ngModel)]="roadWorkActivityFeature.properties.name"
                                        placeholder="Bezeichnung" (focusout)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <p>Gebietsmanager:
                                    <b *ngIf="managementArea && managementArea.manager">
                                        {{managementArea.manager.firstName}}
                                        {{managementArea.manager.lastName}}
                                    </b>
                                    <b *ngIf="!(managementArea && managementArea.manager)">
                                        Noch nicht ermittelt
                                    </b>
                                </p>
                                <form class="choose_user_role_form" style="margin-top: 1em;">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Projektleiter</mat-label>
                                        <mat-select [(ngModel)]="roadWorkActivityFeature.properties.projectManager.uuid"
                                            [formControl]="projectManagerControl" (selectionChange)='update()'
                                            [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                            <mat-option *ngFor="let availableUser of availableUsers"
                                                [value]="availableUser.uuid">
                                                {{availableUser.firstName}} {{availableUser.lastName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-title>Kosten</mat-card-title>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <mat-form-field>
                                    <input matInput type="number" min="0"
                                        [(ngModel)]="roadWorkActivityFeature.properties.costs"
                                        placeholder="Kosten (CHF)" (focusout)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed" required>
                                </mat-form-field>
                                <form class="cost_type_form">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Kostenart</mat-label>
                                        <mat-select [(ngModel)]="roadWorkActivityFeature.properties.costsType.code"
                                            [formControl]="costTypesControl" (selectionChange)='update()'
                                            [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                            <mat-option *ngFor="let availableCostType of availableCostTypes"
                                                [value]="availableCostType.code">
                                                {{availableCostType.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                                <div>
                                    <mat-form-field>
                                        <input matInput type="number" min="0"
                                            [(ngModel)]="roadWorkActivityFeature.properties.investmentNo"
                                            placeholder="Investitionsnummer" (focusout)="update()"
                                            [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    </mat-form-field>
                                </div>
                                <mat-form-field>
                                    <mat-label>Kurzbeschrieb</mat-label>
                                    <textarea matInput maxlength="255"
                                        [(ngModel)]="roadWorkActivityFeature.properties.description"
                                        (focusout)="update()" placeholder="Kurzbeschrieb..."
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    </textarea>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-title>Status</mat-card-title>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <form class="choose_user_role_form">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Status</mat-label>
                                        <mat-select [(ngModel)]="roadWorkActivityFeature.properties.status.code"
                                            [formControl]="roadWorkActivityStatusEnumControl"
                                            (selectionChange)='onRoadWorkActivityStatusEnumChange()'
                                            [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed || roadWorkActivityFeature.properties.uuid===''">
                                            <mat-option value="inwork">in Bearbeitung</mat-option>
                                            <mat-option value="inconsult">in Vernehmlassung</mat-option>
                                            <mat-option value="provfixed">prov. festgesetzt</mat-option>
                                            <mat-option value="deffixed">def. festgesetzt</mat-option>
                                            <mat-option value="excuted">ausgef&uuml;hrt</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                                <p>Erstellt: <b>{{roadWorkActivityFeature.properties.created | date:'dd.MM.yyyy'}}</b>
                                </p>
                                <p>
                                    Zuletzt ge&auml;ndert: <b>{{roadWorkActivityFeature.properties.lastModified |
                                        date:'dd.MM.yyyy'}}</b>
                                </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-title>Realisierung</mat-card-title>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <mat-form-field style="margin:10px;">
                                    <mat-label>Realisierung von</mat-label>
                                    <input matInput [ngModel]="roadWorkActivityFeature.properties.finishFrom"
                                        [matDatepicker]="finishLateFrom" (dateChange)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    <mat-datepicker #finishLateFrom></mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="finishLateFrom"></mat-datepicker-toggle>
                                </mat-form-field>
                                <mat-form-field style="margin:10px;">
                                    <mat-label>Realisierung bis</mat-label>
                                    <input matInput [ngModel]="roadWorkActivityFeature.properties.finishTo"
                                        [matDatepicker]="finishLateTo" (dateChange)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                    <mat-datepicker #finishLateTo></mat-datepicker>
                                    <mat-datepicker-toggle matSuffix [for]="finishLateTo"></mat-datepicker-toggle>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:40px;box-shadow: none;webkit-box-shadow: none;" fxFlex.xs="100" fxFlex="33"
                        fxFlex.md="33" fxFlex.sm="50" fxLayout="column">
                        <mat-card-title>Verkehrsmanagement</mat-card-title>
                        <mat-card-content>
                            <div style="display:flex;flex-direction:column;">
                                <p>Management Baustellenverkehr:
                                    <b>{{roadWorkActivityFeature.properties.trafficAgent.firstName}}
                                        {{roadWorkActivityFeature.properties.trafficAgent.lastName}}
                                    </b>
                                </p>
                                <div>
                                    <button mat-button (click)="registerTrefficManager()"
                                        *ngIf="userService.getLocalUser().role.code=='trafficmanager' ||
                                                        userService.getLocalUser().role.code=='administrator'"
                                        style="border: 1px solid;color: rgb(237,240,255);background-color: rgb(138,71,200);">
                                        MASSNAHME &Uuml;BERNEHMEN
                                    </button>
                                </div>
                                <p><mat-checkbox [(ngModel)]="roadWorkActivityFeature.properties.isInInternet"
                                        (change)="update()" style="margin:10px;"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                        Massnahme im Internet publizieren
                                    </mat-checkbox>
                                </p>
                                <mat-form-field>
                                    <input matInput type="text"
                                        [(ngModel)]="roadWorkActivityFeature.properties.billingAddress1"
                                        placeholder="Rechnungsadresse 1" (focusout)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text"
                                        [(ngModel)]="roadWorkActivityFeature.properties.billingAddress2"
                                        placeholder="Rechnungsadresse 2" (focusout)="update()"
                                        [disabled]="!roadWorkActivityFeature.properties.isEditingAllowed">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab *ngIf="roadWorkActivityFeature.properties.uuid!==''" label="Bed&uuml;rfnisse">
                <app-needs-of-activity [roadWorkActivityUuid]="roadWorkActivityFeature.properties.uuid"
                    [isInEditingMode]="roadWorkActivityFeature.properties.isEditingAllowed"></app-needs-of-activity>
            </mat-tab>
            <mat-tab label="Events">
                <app-events-at-activity
                    [roadWorkActivityUuid]="roadWorkActivityFeature.properties.uuid"></app-events-at-activity>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>