.maincard {
    min-width: 380px;
    margin: 0.5em;
}

.choose_device_main_div {
    margin: 2em;
}

.choose_device_info {
    padding: 0.5em;color: blue;
    background-color: rgb(231, 239, 255);
    border: 1px solid;
}

.choose_device_error {
    color: red;
    background-color: rgb(255, 245, 245);
    border: solid; padding: 0.5em;
}