<div style="margin: 2em;">
    <h1>Datenexport</h1>
    <p>Diese Applikation erm&ouml;glicht einen <b>Full Data Access</b>. Der gesamte
        Datenbestand der Applikation (inkl. der Geodaten) kann jederzeit komfortabel
        &uuml;ber diese Seite heruntergeladen und migriert werden. Die Daten werden im
        standardisierten, Web-nativen <i>JSON-Format</i> bereitgestellt. Die Beschreibung
        des Datenschemas erfolgt in der Open-API-Dokumentation (siehe weiter unten).</p>
    <p style="padding: 1em;background-color: rgb(229, 174, 174);">Achtung, der Gesamtdownload
        beinhaltet auch personenbezogene Daten der registrierten Benutzer dieser
        Applikation. Passw&ouml;rter k&ouml;nnen im Download jedoch nicht enthalten sein.
    </p>
    <p><button (click)="startDownload()">Download Bauvorhaben (CSV)</button></p>
    <p>Grunds&auml;tzlich wird die Interoperabilit&auml;t dieser Applikation
        sichergestellt &uuml;ber die Bereitstellung von standardisierten
        Service-Schnittstellen auf Basis von <i>Open API</i>. Die technische Dokumentation
        der Services wird auf dieser Webseite live bereitgestellt:<br /><br />
        <a href="{{hrefToOpenApi}}">Open API Dokumentation der Services &ouml;ffnen</a>
    </p>
</div>