<div *ngIf="roadWorkActivityFeat?.properties?.isEditingAllowed">
    <button *ngIf="!isInEditingMode" mat-button class="edit_geom_button" (click)="startEditing()"
        style="margin: 1em;color:aliceblue;background-color: blueviolet;">
        VORHABENFL&Auml;CHE NEU ZEICHNEN
    </button>
    <button *ngIf="isInEditingMode" mat-button class="edit_geom_button" (click)="endEditing()"
        style="margin: 1em;color:rgb(255, 255, 255);background-color: rgb(43, 226, 208);">
        BEARBEITUNGSMODUS SCHLIESSEN
    </button>
    <button mat-button class="edit_geom_button" (click)="showEditHelp()"
        style="margin: 1em;border-style: solid;border-width: 1px;color:gray;">
        <mat-icon aria-label="Hilfe">question_mark</mat-icon>
    </button>
    <mat-form-field style="margin-left: 1em;margin-top: 0.5em;">
        <input matInput maxlength="4" placeholder="Bed&uuml;rfnis opt. Real. von (Jahr)..." type="number"
            [(ngModel)]="chosenYear" (change)="onChangeYear()" />
    </mat-form-field>
</div>
<div id="edit_activity_map" class="edit-activity-map"></div>