<form class="need-name-filter-form">
    <mat-form-field class="choose-need">
        <input type="text"
               placeholder="Bezeichnung"
               aria-label="Bezeichnung"
               matInput
               (ngModelChange)="filterNeedName()"
               [formControl]="needSearchControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let roadWorkNeedFeature of chooseNeedComponent.roadWorkNeedFeatures" [value]="roadWorkNeedFeature.properties.name">
            {{roadWorkNeedFeature.properties.name}} {{roadWorkNeedFeature.properties.section}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</form>
