.maincard {
    min-width: 380px;
    margin: 0.5em;
}

.framing-icon-img {
    position: absolute;
}

.add-need-button-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;  
}

mat-slider {
    width: 300px;
}