<div style="margin: 2em;">
    <h1>Konfiguration</h1>
    <mat-tab-group>
        <mat-tab label="Konfiguration">
            <p style="margin-top: 2em;font-weight: bold;">Geometrie-Erfassung</p>
            <div style="margin: 1em;">
                <mat-form-field>
                    <mat-label>Minimale Fl&auml;chengr&ouml;sse (m&#178;)</mat-label>
                    <input matInput maxlength="3" placeholder="Minimale Fl&auml;chengr&ouml;sse..."
                            [(ngModel)]="configurationData.minAreaSize" (focusout)="update()" />
                </mat-form-field>
            </div>
            <div style="margin: 1em;">
                <mat-form-field>
                    <mat-label>Maximale Fl&auml;chengr&ouml;sse (m&#178;)</mat-label>
                    <input matInput maxlength="10" placeholder="Maximale Fl&auml;chengr&ouml;sse..." 
                            [(ngModel)]="configurationData.maxAreaSize" (focusout)="update()" />
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Benutzer">
            <app-users></app-users>
        </mat-tab>
        <mat-tab label="Organisationen">
            <app-organisations></app-organisations>
        </mat-tab>
    </mat-tab-group>
</div>