<div *ngIf="roadWorkNeedFeat?.properties?.isEditingAllowed">
    <button *ngIf="!isInEditingMode" mat-button class="edit_geom_button" (click)="startEditing()"
        style="margin: 1em;background-color: rgb(236,236,234);">
        NEU ZEICHNEN
    </button>
    <button *ngIf="isInEditingMode" mat-button class="edit_geom_button" (click)="endEditing('cancel')"
        style="margin: 1em;background-color: rgb(236,236,234);">
        ABBRECHEN
    </button>
    <button *ngIf="isInEditingMode && isEditingFinished" mat-button class="edit_geom_button"
        (click)="endEditing('save')" style="margin: 1em;background-color: rgb(236,236,234);">
        SPEICHERN
    </button>
    <button mat-button class="edit_geom_button" (click)="showEditHelp()"
        style="margin: 1em;border-style: solid;border-width: 1px;color:gray;">
        <mat-icon aria-label="Hilfe">question_mark</mat-icon>
    </button>
</div>
<div id="edit_need_map" class="edit-need-map"></div>