<div style="margin: 1em;">
    <h2>Organisationen bearbeiten</h2>
    <p>Bitte wählen Sie eine Organisation aus der Auflistung aus, um diese zu bearbeiten. Oder
        wählen Sie den Menüpunkt "NEUE ORGANISATION" aus der Auflistung,
        um eine neue Organisation anzulegen.
    </p>
    <mat-form-field appearance="fill" style="margin: 1em;">
        <mat-label>Organisationseinheit</mat-label>
        <mat-select [(ngModel)]="chosenOrganisation" required>
            <mat-option *ngFor="let existingOrg of existingOrganisations" [value]="existingOrg">
                {{existingOrg.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="margin: 1em;">
        <input matInput [(ngModel)]="chosenOrganisation.name" name="organisationName" type="text"
            placeholder="Organisationsbezeichnung" required>
    </mat-form-field>
    <mat-form-field style="margin: 1em;">
        <input matInput [(ngModel)]="chosenOrganisation.abbreviation" name="organisationAbbreviation" type="text"
            placeholder="Organisationskürzel" required>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="chosenOrganisation.isCivilEngineering" *ngIf="chosenOrganisation.uuid || chosenOrganisation.isNew"
        style="margin:10px;">
        Tiefbauamt
    </mat-checkbox>
    <p>
        <button mat-button *ngIf="!chosenOrganisation.isNew" (click)="updateOrganisation()"
            style="background-color: rgb(236,236,234);margin: 1em;">
            ÄNDERN
        </button>
        <button mat-button *ngIf="chosenOrganisation.isNew" (click)="addOrganisation()"
            style="background-color: rgb(236,236,234);margin: 1em;"
            [disabled]="chosenOrganisation.name.trim() === ''">
            HINZUFÜGEN
        </button>
    </p>
</div>