<div style="margin: 1em;">
    <h2>Organisationen bearbeiten</h2>
    <p>Bitte w&auml;hlen Sie eine Organisation aus der Auflistung aus, um diese zu bearbeiten. Oder
        w&auml;hlen Sie den Men&uuml;punkt "NEUE ORGANISATION" aus der Auflistung,
        um eine neue Organisation anzulegen.
    </p>
    <form class="choose_organisation_form">
        <mat-form-field appearance="fill" style="margin: 1em;">
            <mat-label>Organisationseinheit</mat-label>
            <mat-select [formControl]="userOrgFormControl" (selectionChange)='onOrgChange()' required>
                <mat-option *ngFor="let existingOrg of existingOrganisations" [value]="existingOrg.uuid">
                    {{existingOrg.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin: 1em;">
            <input matInput [(ngModel)]="organisationName" name="organisationName" 
                        type="text" placeholder="Organisationsbezeichnung" required>
        </mat-form-field>
        <span *ngIf="userOrgFormControl.value">
            <button mat-button *ngIf="userOrgFormControl.value !== 'nouuid'"
                (click)="updateOrganisation()" style="background-color: rgb(217, 230, 255);margin: 1em;">
                &Auml;NDERN
            </button>
            <button mat-button *ngIf="userOrgFormControl.value === 'nouuid'"
                (click)="addOrganisation()" style="background-color: rgb(217, 230, 255);margin: 1em;"
                [disabled]="organisationName.trim() === ''">
                HINZUF&Uuml;GEN
            </button>
        </span>
    </form>
</div>