<div>
    <h2 style="color: rgb(100, 100, 100);font-size: 1.2em;">BAUBED&Uuml;RFNISSE ZUR BAUMASSNAHME</h2>
    <table mat-table [dataSource]="needsOfActivityService.roadWorkNeeds" class="mat-elevation-z2" style="width: 100%">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
            <td mat-cell *matCellDef="let roadWorkNeed"> <a href="need/{{roadWorkNeed.properties.uuid}}">{{roadWorkNeed.properties.name}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="orderer">
            <th mat-header-cell *matHeaderCellDef> Besteller </th>
            <td mat-cell *matCellDef="let roadWorkNeed"> {{roadWorkNeed.properties.orderer.firstName}} {{roadWorkNeed.properties.orderer.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef> Erstellt am </th>
            <td mat-cell *matCellDef="let roadWorkNeed"> {{roadWorkNeed.properties.created |
                date:'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="deleteAction">
            <th mat-header-cell *matHeaderCellDef> Aktion </th>
            <td mat-cell *matCellDef="let roadWorkNeedUuid">
                <button (click)="releaseRoadWorkNeed(roadWorkNeedUuid.properties.uuid)" mat-button>ENTFERNEN</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>