
.chip-notcoord {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-inwork {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-inconsult {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-coordinated {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-provfixed {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-deffixed {
    color: white;
    background-color: rgb(47, 85, 150);
}

.chip-executed {
    color: white;
    background-color: rgb(47, 85, 150);
}