<div>
  <mat-chip-list>
      <mat-chip *ngIf="statusCode === 'requirement'" class="chip-notcoord">
        Bedarf
      </mat-chip>
      <mat-chip *ngIf="statusCode === 'review'" class="chip-inwork">
        <span *ngIf="short">Pr&uuml;fung</span>
        <span *ngIf="!short">in Pr&uuml;fung</span>
      </mat-chip>
      <mat-chip *ngIf="statusCode === 'verified'" class="chip-inwork">
        verifiziert
      </mat-chip>
      <mat-chip *ngIf="statusCode === 'inconsult'" class="chip-inconsult">
        <span *ngIf="short">Vernehmlassung</span>
        <span *ngIf="!short">in Vernehmlassung</span>
      </mat-chip>
      <mat-chip *ngIf="statusCode === 'coordinated'"
        class="chip-coordinated">
        koordiniert
      </mat-chip>
    </mat-chip-list>
  </div>