<div style="margin: 2em;">
  <div *ngIf="user.errorMessage.trim().length != 0"
    style="padding: 1em;border-color: brown;border: 1px solid;background-color: rgb(247, 192, 192);">
    {{user.errorMessage}}</div>
  <div>
    <h1>Benutzerdaten <span style="font-weight: normal;" *ngIf="user && user.firstName"> / {{user.firstName}}</span>
    </h1>
    <div fxLayout="row wrap padding">
      <mat-card class="maincard mat-elevation-z0" fxFlex.xs="100" fxFlex="31" fxFlex.md="31" fxFlex.sm="50">
        <mat-card-content style="margin: 0.5em;">
          <div style="width: 80%; margin-right: 1em;">
            <mat-form-field>
              <input matInput [(ngModel)]="user.lastName" (focusout)="updateUser()" type="text" placeholder="Nachname"
                required>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input matInput [(ngModel)]="user.firstName" (focusout)="updateUser()" type="text" placeholder="Vorname"
                required>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input matInput [(ngModel)]="user.mailAddress" (focusout)="updateUser()" type="text"
                placeholder="E-Mail-Adresse" required>
            </mat-form-field>
            <br />
            <div style="margin-bottom: 2em;">
              <p><b>Rollen</b></p>
              <mat-checkbox [(ngModel)]="user.grantedRoles.projectmanager" (change)="updateUser()"
                style="margin-right: 1em;">Projektleitung</mat-checkbox>
              <mat-checkbox [(ngModel)]="user.grantedRoles.eventmanager" (change)="updateUser()"
                style="margin-right: 1em;">Eventmanagement</mat-checkbox>
              <mat-checkbox [(ngModel)]="user.grantedRoles.orderer" (change)="updateUser()"
                style="margin-right: 1em;">Besteller:in</mat-checkbox>
              <mat-checkbox [(ngModel)]="user.grantedRoles.trafficmanager" (change)="updateUser()"
                style="margin-right: 1em;">Verkehrsmanagement</mat-checkbox>
              <mat-checkbox [(ngModel)]="user.grantedRoles.territorymanager" (change)="updateUser()"
                style="margin-right: 1em;">Gebietsmanagement</mat-checkbox>
              <mat-checkbox [(ngModel)]="user.grantedRoles.administrator" (change)="updateUser()"
                style="margin-right: 1em;">Administration</mat-checkbox>
            </div>
            <form class="choose_organisation_form">
              <mat-form-field appearance="fill">
                <mat-label>Organisationseinheit</mat-label>
                <mat-select [formControl]="userOrgFormControl" (selectionChange)='onUserOrgChange()' required>
                  <mat-option *ngFor="let userOrgType of availableUserOrgTypes" [value]="userOrgType.name">
                    {{userOrgType.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <mat-checkbox [(ngModel)]="user.active" style="margin:10px;" (focusout)="updateUser()"
              [disabled]="user.grantedRoles.projectmanager">
              Aktiv
            </mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="maincard mat-elevation-z0" fxFlex.xs="100" fxFlex="31" fxFlex.md="31" fxFlex.sm="50">
        <mat-card-content style="margin: 0.5em;">
          <div style="width: 80%; margin-right: 1em;background-color: rgb(255, 246, 246);padding: 1em;">
            <mat-form-field>
              <input matInput [(ngModel)]="user.passPhrase" type="text" placeholder="Passphrase" type="password"
                [required]="!(user && user.uuid)">
            </mat-form-field>
            <br />
            <div *ngIf="user && user.uuid">
              <button mat-button (click)="changePassphrase()"
                style="background-color: rgb(236,236,234);margin:1em;">PASSPHRASE &Auml;NDERN</button>
              <button mat-button (click)="deleteUser()" style="background-color: rgb(236,236,234);margin:1em;">BENUTZER
                L&Ouml;SCHEN</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!(user && user.uuid)" class="maincard mat-elevation-z0" fxFlex.xs="100" fxFlex="31"
        fxFlex.md="31" fxFlex.sm="50">
        <mat-card-content style="margin: 0.5em;">
          <div style="width: 80%; margin-right: 1em;">
            <div>
              <button mat-button (click)="addUser()" style="background-color: rgb(236,236,234);margin:1em;">BENUTZER
                ANLEGEN</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>