<div *ngIf="statusHelper.isStatusEarlier(roadWorkActivity.properties.status, feedbackPhase)" style="margin: 2em;">
    {{feedbackPhaseName}} noch nicht eröffnet. Oder es wurden keine Beteiligten vorausgewählt
    und es gibt noch keine Rückmeldungen. Evtl. muss zur korrekten Darstellung das Bauvorhaben neu geladen
    werden.
</div>
<div
    *ngIf="statusHelper.isStatusLater(roadWorkActivity.properties.status, feedbackPhaseAccomplished)">
    <div *ngIf="user && user.prefTableView" style="margin-top: 1em;">
        <table mat-table [dataSource]="consultationInputsFromReporting" class="mat-elevation-z2" style="width: 100%">

             <ng-container matColumnDef="need_link">
                <th mat-header-cell *matHeaderCellDef> Bedarf </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <a routerLink="/needs/{{consultationInput.roadworkNeedUuid}}"
                            matTooltip="{{roadWorkActivity.properties.name}} {{roadWorkActivity.properties.section}}">
                        {{ (consultationInput.roadworkNeedName).slice(0, 20)
                        }}<span *ngIf="consultationInput.roadworkNeedName.length > 20">...</span>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="organisation">
                <th mat-header-cell *matHeaderCellDef> Werk </th>
                <td mat-cell *matCellDef="let consultationInput"> {{consultationInput.inputBy.organisationalUnit.abbreviation}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Vernehmlassende:r </th>
                <td mat-cell *matCellDef="let consultationInput"> {{consultationInput.inputBy.firstName}}
                    {{consultationInput.inputBy.lastName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="date_last_change">
                <th mat-header-cell *matHeaderCellDef> Letzte Änderung </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <span *ngIf="consultationInput.lastEdit" 
                           matTooltip="{{consultationInput.lastEditBy}}">
                        {{consultationInput.lastEdit | date: 'dd.MM.yyyy' }}
                    </span>
                    <span *ngIf="!consultationInput.lastEdit">
                        -
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="has_feedback">
                <th mat-header-cell *matHeaderCellDef> Rückmeldung erhalten </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list>
                        <mat-chip *ngIf="consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Rückmeldung erhalten"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="!consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Noch keine Rückmeldung"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="no_requirement_anymore">
                <th mat-header-cell *matHeaderCellDef> Weiterhin Bedarf </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback != 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Weiterhin Bedarf vorhanden"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Kein Bedarf mehr"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="activity_okay">
                <th mat-header-cell *matHeaderCellDef> Vorgehen passt </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Bauvorhaben passt"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_not_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Nicht einverstanden"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="feedback_input">
            <th mat-header-cell *matHeaderCellDef> Rückmeldung </th>
            <td mat-cell *matCellDef="let consultationInput">
                <ng-container *ngIf="consultationInput.feedbackGiven; else noFeedback">
                <mat-form-field appearance="fill" style="width: 150px">
                    <mat-select [(ngModel)]="consultationInput.ordererFeedback">                    
                    <mat-select-trigger>
                        <span [ngStyle]="{ color: consultationInput.ordererFeedback ? 'inherit' : 'gray', 'font-style': consultationInput.ordererFeedback ? 'normal' : 'italic' }">
                        {{
                            consultationInput.ordererFeedback === 'no_requirement_anymore' ? 'Kein Berdarf' :
                            consultationInput.ordererFeedback === 'activity_okay' ? 'Ja' :
                            consultationInput.ordererFeedback === 'activity_not_okay' ? 'Nein' :
                            'Bitte wählen'
                        }}
                        </span>
                    </mat-select-trigger>
                    
                    <mat-option [value]="'no_requirement_anymore'">
                        Kein Bedarf/Kein Bedarf mehr
                    </mat-option>
                    <mat-option [value]="'activity_okay'">
                        ✔ Ja, ich bin mit dem Vorgehen einverstanden
                    </mat-option>
                    <mat-option [value]="'activity_not_okay'">
                        ✖ Nein, ich bin nicht ganz einverstanden und bitte um Kontaktaufnahme
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                </ng-container>
                
                <ng-template #noFeedback>
                <span style="color: gray; font-style: italic;">Keine Rückmeldung</span>
                </ng-template>
            </td>
          </ng-container>


            <ng-container matColumnDef="feedback_input_text">
                <th mat-header-cell *matHeaderCellDef>Kommentar zur Rückmeldung</th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-form-field style="width: 95%;">
                        <mat-label>	Kommentar zur Rückmeldung</mat-label>
                        <textarea matInput maxlength="255" (focusout)="updateComment(consultationInput)"
                            [(ngModel)]="consultationInput.ordererFeedbackText" placeholder="Ihre Rückmeldung bitte hier eingeben..">
                        </textarea>
                    </mat-form-field>
                </td>
            </ng-container> 


            <ng-container matColumnDef="consult_input">
                <th mat-header-cell *matHeaderCellDef> Bemerkung GM </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Bemerkung GM</mat-label>
                        <textarea matInput maxlength="255" (focusout)="updateComment(consultationInput)"
                            [(ngModel)]="consultationInput.managerFeedback" placeholder="Bemerkung GM...">
                </textarea>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="consult_delete">
                <th mat-header-cell *matHeaderCellDef> Zuweisung aufheben </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-icon *ngIf="isEditingAllowed" style="margin-left:35px;font-size:1.3em" (click)="deleteConsultation(consultationInput?.inputBy?.uuid ?? '')"
                              aria-label="Zuweisung aufheben" class="arrow_button">🡇</mat-icon>        
                    <mat-icon *ngIf="!isEditingAllowed" style="margin-left:35px;font-size:1.3em;font-family:Arial, Helvetica, sans-serif" 
                              aria-label="Zuweisung aufheben">X</mat-icon>                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['need_link', 'organisation', 'name', 'feedback_input', 'feedback_input_text', 'date_last_change', 'has_feedback', 'no_requirement_anymore', 'activity_okay', 'consult_input', 'consult_delete']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['need_link', 'organisation', 'name', 'feedback_input', 'feedback_input_text',  'date_last_change', 'has_feedback', 'no_requirement_anymore', 'activity_okay', 'consult_input', 'consult_delete'];"></tr>
        </table>

        <div *ngIf="userService.getLocalUser().chosenRole == 'orderer' 
            && roadWorkActivity.properties.status === 'inconsult1' && feedbackPhase==='inconsult1'"
            style="margin-top: 2em;">
            <p>Bitte geben Sie eine Rückmeldung zu Ihrer Bedarfsklärung-1.</p>
        </div>

        <div *ngIf="userService.getLocalUser().chosenRole == 'orderer' 
                    && roadWorkActivity.properties.status === 'inconsult2' && feedbackPhase==='inconsult2'"
            style="margin-top: 2em;">
            <p>Bitte geben Sie eine Rückmeldung zu Ihrer Bedarfsklärung-2.</p>
        </div>

        <div *ngIf="userService.getLocalUser().chosenRole != 'administrator' && userService.getLocalUser().chosenRole != 'territorymanager' 
                    && roadWorkActivity.properties.status == 'reporting' && feedbackPhase==='reporting'" 
                style="margin-top: 2em;margin-left:2em">
                                        
                <p>
                    Während der Bedarfsklärung wurde das Gesamtvorhaben geprüft und sowohl zeitlich wie auch räumlich koordiniert.
                </p>    

                <p>
                    <button mat-button (click)="generatePDF2()" style="margin-top: 1em;margin-bottom: 1em;background-color: rgb(236,236,234);">
                    Projekt-PDF generieren (2)
                    </button>
                </p>                        
        </div>

        <div style="width: 100%;table-layout: fixed;">                                                   
            <div>
                <div style="min-width: 300px; margin-top: 50px; margin-bottom: 1em;">
                    <button mat-button style="background-color: rgb(236,236,234);margin-top: 1em;margin-bottom: 1em;padding: 0.5em;padding-left:1em; padding-right: 1em" 
                        [disabled]="!isSelectionInvolvedUsersAllowed"
                           (click)="isSelectionInvolvedUsersVisible=!isSelectionInvolvedUsersVisible">
                            Beteiligte auswählen 
                    </button>                    
                    <div *ngIf="isSelectionInvolvedUsersVisible">
                        <ag-grid-angular
                            style="width: 100%; height: 35vh;"
                            class="ag-theme-alpine"
                            [rowData]="availableUsers"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [domLayout]="'normal'" 
                            [suppressHorizontalScroll]="false"
                            >
                        </ag-grid-angular>
                    </div>                     
                </div>
            </div>                            
        </div>

    </div>
</div>
