<div *ngIf="statusHelper.isStatusEarlier(roadWorkActivity.properties.status, 'reporting')" style="margin: 2em;">
    Stellungnahme noch nicht eröffnet. Oder es wurden keine Beteiligten vorausgewählt
    und es gibt noch keine Rückmeldungen. Evtl. muss zur korrekten Darstellung das Bauvorhaben neu geladen
    werden.
</div>
<div *ngIf="statusHelper.isStatusLater(roadWorkActivity.properties.status, 'reporting')" style="margin: 2em;">
    Die Stellungnahme ist abgeschlossen.
</div>
<div
    *ngIf="statusHelper.isStatusLater(roadWorkActivity.properties.status, 'verified')">
    <div *ngIf="!user || !user.prefTableView">
        <div fxLayout="row wrap padding">
            <mat-card class="maincard mat-elevation-z2"
                *ngFor="let consultationInput of consultationInputsFromReporting" fxFlex.xs="100" fxFlex="31"
                fxFlex.md="31" fxFlex.sm="50">
                <mat-card-header style="margin: 0.5em;">
                    <div style="width: 80%; margin-right: 1em;">
                        <mat-card-title>
                            {{ (consultationInput.inputBy.firstName + " " + consultationInput.inputBy.lastName).slice(0,
                            20)
                            }}<span
                                *ngIf="consultationInput.inputBy.firstName.length + consultationInput.inputBy.lastName.length > 20">...</span>
                        </mat-card-title>
                        <mat-card-subtitle>Letzte Änderung:
                            <span *ngIf="consultationInput.lastEdit">
                                {{consultationInput.lastEdit | date:'dd.MM.yyyy'}}
                            </span>
                            <span *ngIf="!consultationInput.lastEdit">
                                -
                            </span>
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content style="margin: 0.5em;padding-bottom: 1em;">
                    <mat-chip-list>
                        <mat-chip *ngIf="consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Rückmeldung erhalten"
                                style="color: green;">check</mat-icon>&nbsp;<span i18n>Rückmeldung erhalten</span>
                        </mat-chip>
                        <mat-chip *ngIf="!consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Noch keine Rückmeldung"
                                style="color: rgb(225, 74, 74);">close</mat-icon>&nbsp;<span i18n>Noch keine
                                Rückmeldung</span>
                        </mat-chip>
                    </mat-chip-list>

                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback != 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Weiterhin Bedarf vorhanden"
                                style="color: green;">check</mat-icon>&nbsp;<span i18n>Weiterhin Bedarf vorhanden</span>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Kein Bedarf mehr"
                                style="color: rgb(225, 74, 74);">close</mat-icon>&nbsp;<span i18n>Kein Bedarf mehr</span>
                        </mat-chip>
                    </mat-chip-list>

                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Bauvorhaben passt"
                                style="color: green;">check</mat-icon>&nbsp;<span i18n>Bauvorhaben passt</span>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_not_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Nicht einverstanden"
                                style="color: rgb(225, 74, 74);">close</mat-icon>&nbsp;<span i18n>Nicht einverstanden</span>
                        </mat-chip>
                    </mat-chip-list>
                    <div *ngIf="consultationInput.feedbackGiven" style="margin: 1em;">Rückmeldung Beteiligte:r:
                    </div>
                    <div *ngIf="consultationInput.feedbackGiven"
                        style="margin: 1em;padding: 0.5em;background-color: rgb(231, 231, 231);font-style: italic;font-size: 1.2em;">
                        <span *ngIf="consultationInput.ordererFeedbackText">{{consultationInput.ordererFeedbackText}}</span>
                        <span *ngIf="!consultationInput.ordererFeedbackText">Kein Text</span>
                    </div>
                    <p style="margin: 2em;">Bewertung des Bauvorhabens:<br>
                        <mat-button-toggle-group [(ngModel)]="consultationInput.valuation"
                            aria-label="Bewertung des Bauvorhabens" disabled>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation == 0" value="0"
                                style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">0</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation != 0" value="0"
                                style="background-color: rgb(239, 239, 239);">0</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation == 1" value="1"
                                style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">1</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation != 1" value="1"
                                style="background-color: rgb(239, 239, 239);">1</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation == 2" value="2"
                                style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">2</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation != 2" value="2"
                                style="background-color: rgb(239, 239, 239);">2</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation == 3" value="3"
                                style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">3</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation != 3" value="3"
                                style="background-color: rgb(239, 239, 239);">3</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation == 4" value="4"
                                style="background-color: rgb(220, 220, 220); font-weight: bold;border: 1px solid;">4</mat-button-toggle>
                            <mat-button-toggle *ngIf="consultationInput && consultationInput.valuation != 4" value="4"
                                style="background-color: rgb(239, 239, 239);">4</mat-button-toggle>
                        </mat-button-toggle-group>
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions style="margin: 0.5em;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Bemerkung GM</mat-label>
                        <textarea matInput maxlength="255" (focusout)="updateComment(consultationInput)"
                            [(ngModel)]="consultationInput.managerFeedback" placeholder="Bemerkung GM...">
                    </textarea>
                    </mat-form-field>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div *ngIf="user && user.prefTableView" style="margin-top: 1em;">
        <table mat-table [dataSource]="consultationInputsFromReporting" class="mat-elevation-z2" style="width: 100%">

            <ng-container matColumnDef="organisation">
                <th mat-header-cell *matHeaderCellDef> Werk </th>
                <td mat-cell *matCellDef="let consultationInput"> {{consultationInput.inputBy.organisationalUnit.abbreviation}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Vernehmlassende:r </th>
                <td mat-cell *matCellDef="let consultationInput"> {{consultationInput.inputBy.firstName}}
                    {{consultationInput.inputBy.lastName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="date_last_change">
                <th mat-header-cell *matHeaderCellDef> Letzte Änderung </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <span *ngIf="consultationInput.lastEdit">
                        {{consultationInput.lastEdit | date: 'dd.MM.yyyy' }}
                    </span>
                    <span *ngIf="!consultationInput.lastEdit">
                        -
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="has_feedback">
                <th mat-header-cell *matHeaderCellDef> Rückmeldung erhalten </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list>
                        <mat-chip *ngIf="consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Rückmeldung erhalten"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="!consultationInput.feedbackGiven">
                            <mat-icon style="font-size: 1.5;" aria-label="Noch keine Rückmeldung"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="no_requirement_anymore">
                <th mat-header-cell *matHeaderCellDef> Weiterhin Bedarf </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback != 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Weiterhin Bedarf vorhanden"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'no_requirement_anymore'">
                            <mat-icon style="font-size: 1.5;" aria-label="Kein Bedarf mehr"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="activity_okay">
                <th mat-header-cell *matHeaderCellDef> Realisierungszeitraum passt </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-chip-list *ngIf="consultationInput.feedbackGiven">
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Bauvorhaben passt"
                                style="color: green;">check</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="consultationInput.ordererFeedback == 'activity_not_okay'">
                            <mat-icon style="font-size: 1.5;" aria-label="Nicht einverstanden"
                                style="color: rgb(225, 74, 74);">close</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="feedback">
                <th mat-header-cell *matHeaderCellDef> Rückmeldung </th>
                <td mat-cell *matCellDef="let consultationInput" style="max-width: 10em; word-wrap:break-word;">
                    {{consultationInput.ordererFeedbackText}}</td>
            </ng-container>

            <ng-container matColumnDef="consult_input">
                <th mat-header-cell *matHeaderCellDef> Bemerkung GM </th>
                <td mat-cell *matCellDef="let consultationInput">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Bemerkung GM</mat-label>
                        <textarea matInput maxlength="255" (focusout)="updateComment(consultationInput)"
                            [(ngModel)]="consultationInput.managerFeedback" placeholder="Bemerkung GM...">
                </textarea>
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
        </table>
    </div>
</div>
<div *ngIf="userService.getLocalUser().chosenRole != 'administrator' && userService.getLocalUser().chosenRole != 'territorymanager'
            && roadWorkActivity.properties.status == 'reporting'" style="margin-top: 3em;">
    <h2>Eingabe zur Stellungnahme</h2>
    <div style="border: 2px solid;border-color: lightgrey;padding: 1em;">
        <p>Während der Bedarfsklärung wurde das Gesamtvorhaben mit einem Standarttermin berechnet.
            Daraus ergibt sich zum heutigen Zeitpunkt folgender Realisierungszeitraum (Schätzung):</p>
        <p>Baubeginn:
            <span *ngIf="this.roadWorkActivity.properties.startOfConstruction"
                style="background-color: lightgray;padding: 0.2em;">
                {{this.roadWorkActivity.properties.startOfConstruction}}
            </span>
            <span *ngIf="!this.roadWorkActivity.properties.startOfConstruction"
                style="background-color: lightgray;padding: 0.2em;">
                Datum nicht gesetzt
            </span>
        </p>
        <p>Bauende:
            <span *ngIf="this.roadWorkActivity.properties.endOfConstruction"
                style="background-color: lightgray;padding: 0.2em;">
                {{this.roadWorkActivity.properties.endOfConstruction}}
            </span>
            <span *ngIf="!this.roadWorkActivity.properties.endOfConstruction"
                style="background-color: lightgray;padding: 0.2em;">
                Datum nicht gesetzt
            </span>
        <p>
            <mat-radio-group [(ngModel)]="consultationInput.ordererFeedback" aria-label="Wählen Sie eine Option">
                <mat-radio-button style="margin:10px;" value="no_requirement_anymore">
                    Kein Bedarf mehr
                </mat-radio-button>
                <p>Weiterhin Bedarf vorhanden:</p>
                <mat-radio-button style="margin:10px;" value="activity_okay">
                    Ja, das Bauvorhaben inkl. des geschätzten Realisierungszeitraums passt
                </mat-radio-button><br>
                <mat-radio-button style="margin:10px;" value="activity_not_okay">
                    Nein, ich bin nicht einverstanden. Bitte um Kontaktaufnahme
                </mat-radio-button>
            </mat-radio-group>
        </p>
        <mat-form-field style="width: 100%; margin-top: 2em;">
            <mat-label>Rückmeldung</mat-label>
            <textarea matInput [(ngModel)]="consultationInput.ordererFeedbackText" maxlength="40000"
                placeholder="Rückmeldung..."></textarea>
        </mat-form-field>
        <button mat-button (click)="sendReporting()" style="margin: 1em;background-color: rgb(236,236,234);"
            [disabled]="!consultationInput.ordererFeedback">
            SENDEN
        </button>
    </div>
</div>