/* You can add global styles to this file, and also import other style files */
@import "styles/roboto.css";
@import "styles/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { min-height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ol-zoom-in, .ol-zoom-out {
    background-color: white;
    margin: 0.3em;
    padding: 0.3em;
}

.ol-rotate-reset {
    visibility: hidden;
}

.ag-theme-alpine .ag-row {
  height: 50px !important; 
}
