<form class="roadWorkActivityUuid">
    <mat-form-field class="choose-need">
        <input type="text"
               placeholder="Bezeichnung"
               aria-label="Bezeichnung"
               matInput
               (ngModelChange)="filterActivityName()"
               [formControl]="actvitySearchControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let roadWorkActivityFeature of chooseActivityComponent.roadWorkActivityFeatures" [value]="roadWorkActivityFeature.properties.name">
            {{roadWorkActivityFeature.properties.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field><br>
</form>
