<html>
    <head>
      <style>
    .map-screenshot {
      max-width: 100%;
      border: 1px solid #ccc;
    }
  </style>
    </head>
<body>
    <div style="width: 100%; display: flex; ">
    <table style="width: 100%; font-family: Arial, sans-serif;">
        <tr>    
            <td style="width:40%;vertical-align: top;">
            <div style="font-size: 12px; line-height: 1.4;color:#555555;">
                Departement Bau und Mobilität<br>
                <strong>Tiefbauamt</strong><br>
                Pionierstrasse 7<br>
                8403 Winterthur
            </div>
            </td>    
            <td style="width:18%;vertical-align: center;color:#555555;">        
                <div style="text-align: right;">
                    <label style="font-size: 21px; margin: 0;">Stadt Winterthur</label>
                </div>       
            </td>
            <td style="width:42%;vertical-align: top;">
                <img src="assets/win_logo.png" alt="Stadt Winterthur Logo" width="130" />
            </td>
        </tr>
    </table>


</div>

<hr style="margin-top: 50px;">
<h2 style="margin:0px;padding:0px">
  Strategische Koordinationssitzung (SKS) - Vor-Protokoll
</h2>
<hr>

<table style="font-size:0.8em;text-align:right;">
    <tr>    
        <td style="text-align: right;">
            SKS_Vor-Protokoll_[PLACEHOLDER_DATE], Seite 1 von X
        </td>
    </tr>    
</table>

</body>
</html>
