<html>
    <head>
      <style>
    .map-screenshot {
      max-width: 100%;
      border: 1px solid #ccc;
    }
    .page-break {
        page-break-before: always;
        break-before: page;
    }
    .pdf-page { 
        break-inside: avoid; 
    }
    img { max-width: 100%; height: auto; display: block; }
    table.compact { border-collapse: collapse; }
    table.compact td { padding: 2px 6px; vertical-align: top; line-height: 1.2; }
  </style>
    </head>
<body>
    <div style="width: 100%; display: flex; ">
    <table style="width: 100%; font-family: Arial, sans-serif;">
        <tr>    
            <td style="width:40%;vertical-align: top;">
            <div style="font-size: 12px; line-height: 1.4;color:#555555;">
                Departement Bau und Mobilität<br>
                <strong>Tiefbauamt</strong><br>
                Pionierstrasse 7<br>
                8403 Winterthur
            </div>
            </td>    
            <td style="width:18%;vertical-align: center;color:#555555;">        
                <div style="text-align: right;">
                    <label style="font-size: 21px; margin: 0;">Stadt Winterthur</label>
                </div>       
            </td>
            <td style="width:42%;vertical-align: top;">
                <img src="assets/win_logo.png" alt="Stadt Winterthur Logo" width="130" />
            </td>
        </tr>
    </table>


</div>

<hr style="margin-top: 50px;">
<h2 style="margin:0px;padding:0px">
  Strategische Koordinationssitzung (SKS) - [PLACEHOLDER_SESSION_TYPE] 
</h2>
<hr>


    <table class="compact">
    <tr>
        <td style="width:130px">Datum und Zeit</td>
        <td><a id="DatumAllgemein"></a>[PLACEHOLDER_DATUM_NAECHSTE_SKS] / von 10.30 - 12.00 Uhr</td>
    </tr>
    <tr>
        <td>Ort</td>
        <td>Stadt Winterthur, Departement Bau und Mobilität, Tiefbauamt, Superblock,<br>
            Pionierstrasse 7 (Sitzungszimmer SZ Public B001 PION5)</td>
    </tr>
    <tr>
        <td>Vorsitz</td>
        <td style="font-size:0.9em; padding-right:100px">[PLACEHOLDER_VORSITZ]</td>
    </tr>
    <tr>
        <td>Protokoll</td>
        <td>APK (direkt in WiKIS)</td>
    </tr>
    </table>
    <p>
        Anwesende
    </p>        
    <p>
        [PLACEHOLDER_ANWESENDE]
    </p>             
        
    <p>
        Entschuldigt
    </p>
    <p>
        [PLACEHOLDER_ENTSCHULDIGT]
    </p>
    
    <table style="vertical-align:top;">    
    <tr>
        <td style="vertical-align:top;">
            <p>Traktanden</p>
        </td>
        <td>
            <p>1. Abnahme SKS-Protokoll vom [PLACEHOLDER_DATUM_LETZTE_SKS]</p>
            <p>2. Koordination künftige Bauvorhaben</p>
            <p>3. Verschiedenes</p>
            <p>4. Nächste Sitzungen</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Beilagen</p>
        </td>
        <td>
            <p>--</p>
        </td>
    </tr>
</table>



<div style="page-break-before: always;"></div>

    <p>Verteiler Teilnehmende / Entschuldigte / PL und BL APR</p>        
    <p>
        [PLACEHOLDER_TEILNEHMENDE]
    </p>           


<br/>
<br/>
<br/>
<br/>
<br/>

<div style="page-break-before: always;"></div>

<ol>
    <li><strong>Abnahme SKS-Protokoll vom [PLACEHOLDER_DATUM_LETZTE_SITZUNG]</strong></li>
</ol>
<ul>
    <li>Das Protokoll wird ohne Anmerkungen genehmigt und verdankt.</li>
</ul>

<ol>
    <li><strong>Koordination künftige Bauvorhaben <br />
    </strong>Gerne haben wir die erfassten Bedarfe geprüft und koordiniert. </li>
</ol>
<p>Die nachfolgenden Vorgehensvorschläge wurden mit Versand der <strong>Bedarfsklärung vom [PLACEHOLDER_DATUM_VERSAND_BEDARFSKLAERUNG]</strong>
   erstmalig zur Prüfung versendet. </p>
<p>Mit <strong>Stellungnahme vom [PLACEHOLDER_DATUM_VERSAND_STELLUNGNAHME]</strong> erfolgt 
    der aktualisierte Versand zur  endgültigen Prüfung. 
    Die nachfolgenden Vorgehen werden voraussichtlich an der <strong>SKS vom [PLACEHOLDER_DATUM_SKS]</strong>
    behandelt.</p>
<table style="width: 100%; margin: 0 auto;">
    <tr>
        <td style="background:silver">
            <p><strong>Bauvorhaben: [PLACEHOLDER_TITEL_ADRESSE_ABSCHNITT]</strong></p>
        </td>
    </tr>
</table>
<p>    
    <img src="[PLACEHOLDER_MAP_PERIMETER]" alt="Mapa" style="max-width: 100%; border: 1px solid #ccc;" />
</p>
<p>Bauvorhaben: [PLACEHOLDER_Titel_Adresse]</p>
<p>Abschnitt: [PLACEHOLDER_Abschnitt]</p>
<p>**SKS-Nr.: [PLACEHOLDER_SKS_Nr]</p>
<p>Auslösende:r: [PLACEHOLDER_AUSLOESENDE]</p>
<p>Auslösendes Werk: [PLACEHOLDER_AUSLOESENDES_WERK]</p>
<p>Gebietsmanagement: [PLACEHOLDER_GM]</p>
<p>Projekttyp: [PLACEHOLDER_Projekttyp]</p>
<p>Lead Realisierung (Phase 5/Baustelle): [PLACEHOLDER_WERK_OE] / [PLACEHOLDER_PL] (Hinweis: wird an SKS definiert)</p>
<p>Mitwirkende: [PLACEHOLDER_AUSLOESENDES_WERK] sowie [PLACEHOLDER_MITWIRKENDE]</p>
<p><strong>Vorgehensvorschlag / Vorgehen</strong></p>
<p>Beschreibt, wie was umgesetzt werden soll und warum. </p>
<p>Falls vorhanden, hier ggf. auch Ausgangslage notieren.» </p>
<p>2. Vorgehensvorschlag / Vorgehen</p>
<p><strong>Zugewiesene</strong> (berücksichtigte) Bedarfe</p>
<p>
   [PLACEHOLDER_ZUGEWIESENE_BEDARFE]
</p>
<p><strong>Aspekte/Faktoren </strong></p>
<p>Folgende Aspekte und/oder Faktoren können das Bauvorhaben beeinflussen:</p>
<table style="padding:3px;font-size:12px;border:1px">
    <tr>
        <td>
            [PLACEHOLDER_Ist_im_Aggloprogramm]
        </td>
        <td>
            Ist im Aggloprogramm vorgesehen/eingegeben
        </td>
    </tr>
    <tr>
        <td>
            [PLACEHOLDER_Laermschutzverordnung]
        </td>
        <td>
            <p>Untersteht der Lärmschutzverordnung (LSV) / Akustisches Projekt</p>
        </td>
    </tr>
    <tr>
         <td>
            [PLACEHOLDER_Stoerfallverordnung]
        </td>
        <td>
            <p>Störfallverordnung</p>
        </td>
    </tr>
    <tr>
         <td>
            [PLACEHOLDER_Haltekanten]
        </td>
        <td>
            <p>Haltekanten sind betroffen</p>
        </td>
    </tr>
    <tr> 
        <td>
            [PLACEHOLDER_Vorstudie_BGK]       
        <td>
            <p>Vorstudie/BGK ist vorgesehen</p>
        </td>
    </tr> 
    



    <tr> 
        <td>
            [PLACEHOLDER_Uebergeordnete_Massnahme]       
        <td>
            <p>Uebergeordnete Massnahme</p>
        </td>
    </tr> 

    <tr> 
        <td>
            [PLACEHOLDER_Begehrensaeusserung_45]       
        <td>
            <p>Begehrensäusserung §&nbsp;45</p>
        </td>
    </tr> 

    <tr> 
        <td>
            [PLACEHOLDER_Mitwirkungsverfahren_13]       
        <td>
            <p>Mitwirkungsverfahren §&nbsp;13</p>
        </td>
    </tr> 

    <tr> 
        <td>
            [PLACEHOLDER_Planauflage_16]       
        <td>
            <p>Planauflage §&nbsp;16</p>
        </td>
    </tr> 

</table>

<div class="page-break"></div>

<p><strong>Termine (Grob-Terminplanung) </strong></p>
<p>Zum aktuellen Zeitpunkt werden folgende Termine vorgeschlagen:</p>
<p>Phase 1</p>
<p>Genehmigter Projektauftrag Vorstudie AMO/AEW: «Genehmigter VS-Auftrag»</p>
<p>Genehmigter Projektauftrag Vorprojekt: «Genehmigter Projektauftrag VP»</p>
<p>Phase 2</p>
<p>Genehmigte Vorstudie AMO/AEW: «Genehmigte VS»</p>
<p>Phase 3</p>
<p>Übergabe APK -&gt; APR «Übergabe-Sitzung VP»</p>
<p>Ende Bewilligungsphase/ Projektübergabe P zu R «Ende Ph. 33 / Projektübergabe P+R»</p>
<p>Phase 5</p>
<p>Voraussichtlicher Baubeginn: «Voraussichtlicher Baubeginn»</p>
<p>Voraussichtliches Bauende: «Voraussichtliches Bauende»</p>

<div style="page-break-after: always;"></div>

<table>
    <tr>
        <td>
            <p><strong>SIA-Phasen (Grob-Terminplanung) </strong></p>
        </td>
    </tr>
</table>
<p><img width="200px" height="115px" src="assets/empty_pic.png" alt="image003">    
</p>

<p>Zu berücksichtigende Bauvorhaben: </p>
<table>
    <tr>
        <td>
            <p><strong>Vernehmlassung</strong></p>
        </td>
    </tr>
</table>
<p><strong>Strasseneigentümer (APK)</strong> </p>
<p>Strassenzustand (Index i1: Oberflächenschäden). Wert im vorliegenden Perimeter: 0.5. </p>
<p>Es liegen keine Schäden im Bauperimeter vor, APK sieht keinen Handlungsbedarf.</p>
<p>Bausperre und Aufbruchsperre: Im vorliegenden Perimeter liegt eine Bausperre vor (letzte Erstellung Deckbelag in
    Längsrichtung: Dezember 2023). Gem. Art. 17. Der Baukoordinationsverordnung können Ausnahmen gelten gemacht werden.
</p>
<p>Zu berücksichtigende Bauvorhaben: Seebahnstrasse, Ecke Zweig- bis Rudolfweg, neuer Deckbelag TBA über
    Kleinmassnahmen, geplanter Realisierungszeitraum: 3. Quartal 2025</p>
<p><strong>Beteiligter: EC </strong></p>
<p><strong>Bedarfsklärung</strong></p>
    

<p>Wenn TE baut, bauen wir mit</p>
<p><strong>Stellungnahme</strong></p>
    
<p><strong>Übergeordnete Massnahmen</strong></p>
<p>
    
</p>
<table>
    <tr>
        <td>
            <p><strong>Weitere, vorhabenbezogene Informationen</strong></p>
        </td>
    </tr>
</table>
<p><strong>Nicht zugewiesene</strong> <strong>Bedarfe</strong> in Vorhabenfläche</p>
<p>
      
</p>
<ol>
    <li><strong>Verschiedenes</strong></li>
</ol>
<p>--&gt; Freitextfeld, wird an Sitzung ausgefüllt</p>
<ol>
    <li><strong>Nächste Sitzungen</strong></li>
</ol>
<p><strong>SKS</strong></p>
<p>Die nächste SKS findet voraussichtlich am «Datum nächste SKS» statt.</p>
<p>Superblock, Pionierstrasse 7 <em>(Sitzungszimmer SZ Public B001 PION5)</em></p>
<p><strong>OKS</strong></p>
<p>Die nächste OKS findet voraussichtlich am «Datum nächste OKS» statt</p>
<p>Superblock, Pionierstrasse 7 <em>(Sitzungszimmer SZ Public B001 PION5)</em></p>
<p><strong>KAP</strong></p>
<p>Die nächste KAP findet voraussichtlich am «Datum nächste KAP» statt</p>
<p>Superblock, Pionierstrasse 7 <em>(Sitzungszimmer SZ Public B012 PION5)</em></p>
<p>Für das Protokoll</p>
<p>Winterthur, «Aktuelles Datum der Protokollerstellung»</p>
<p>Abteilung Planung und Koordination (APK)</p>
</body>
</html>